@model List<Absence>
@{
    ViewData["Title"] = "StudentAttendance";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Student Absence</h2>

<hr />

<div class="row flex-wrap-reverse">
    <div class="col-md-12 col-xl-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-wrap justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col"> Student  </th>
                                <th scope="col"> Class  </th>
                                <th scope="col"> Subject  </th>
                                <th scope="col">Lesson Date  </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col"> Student  </th>
                                <th scope="col"> Class  </th>
                                <th scope="col"> Subject  </th>
                                <th scope="col">Lesson Date  </th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Student.FirstName @item.Student.MidName @item.Student.LastName</td>
                                    <td>@item.Student?.Class?.Name</td>
                                    <td>@item.Lesson.Subject.SubjectDetails.Name</td>
                                    <td class="text-danger">@item.Lesson.Date</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted">


            </div>
        </div>
    </div>

    <div class="col-md-6  col-xl-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-wrap justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">
                    Filter List By
                </h6>
            </div>
            <form asp-action="StudentAttendance" method="get">
                <div class="card-body overflow-hidden">
                    <div class="row align-content-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="studentId">Student</label>
                                <select class="form-control"
                                        name="studentId" id="studentId"
                                        asp-items="ViewBag.students">
                                    <option selected value="">---select Student---</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subjectId">Subject</label>
                                <select class="form-control"
                                        name="subjectId" id="subjectId"
                                        asp-items="ViewBag.subjects">
                                    <option selected value="">---select Subject---</option>
                                </select>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-outline-success">
                        <i class="fas fa-sort-alpha-up"></i> Filter
                    </button>
                    <button class="btn btn-outline-secondary" id="resetBtn">
                        <i class="fas fa-undo"></i> Reset
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/lib/select2/js/select2.min.js"></script>

    <script>
        $("#studentId").select2();

        $("#resetBtn").on("click", function () {
            $("select").each(function () {
                $(this).prop('selectedIndex', 0);
            })
        })
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


