@model ApplicationUser
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">Admin</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"] </li>
    </ol>
</nav>


<h2>@(ViewBag.Edit!=null?"Edit ":"")Admin Profile</h2>
<hr />

<div class="row">
    @if (ViewBag.Edit == null)
    {
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Profile Details</h6>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">
                            Username
                        </dt>
                        <dd class="col-sm-8">
                            @Model.UserName
                        </dd>
                        <dt class="col-sm-4">
                            Email
                        </dt>
                        <dd class="col-sm-8">
                            @Model.Email
                        </dd>
                        <dt class="col-sm-4">
                            Phone Number
                        </dt>
                        <dd class="col-sm-8">
                            @Model.PhoneNumber
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Profile" class="btn btn-primary"
                       asp-route-id="@Model.Id"
                       asp-route-edit="Edit">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
                </div>
            </div>

        </div>
    }
    else
    {

        <div class="col-md-6">
            <form asp-action="Profile" method="post">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Edit Profile</h6>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input type="hidden" value="@Model.Id" asp-for="Id" />
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" type="text" maxlength="10" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-action="Profile" class="btn btn-outline-secondary">Back</a>
                    </div>
                </div>
            </form>
        </div>


        @section Scripts {

            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

    }

</div>

