@model ProjetFinEtude.Models.Subject

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Enrollment Details</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Enrollment Details</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        Class
                    </dt>
                    <dd class="col-sm-8">
                        <div class="d-flex justify-content-between align-items-center">
                            <span> @Model.Class.Name</span>
                            <a class="btn btn-outline-info btn-sm"
                               target="_blank"
                               asp-action="Details" asp-controller="Classes"
                               asp-route-id="@Model.Class.Id">
                                <i class="fas fa-external-link-alt"></i> Show Class Details
                            </a>
                        </div>

                    </dd>
                    <dt class="col-sm-4">
                        Teacher
                    </dt>
                    <dd class="col-sm-8">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>  @Model.Teacher.FirstName @Model.Teacher.LastName @Model.Teacher.MidName</span>
                            <a class="btn btn-outline-info btn-sm"
                               target="_blank"
                               asp-action="Details" asp-controller="Teachers"
                               asp-route-id="@Model.Teacher.Id">
                                <i class="fas fa-external-link-alt"></i> Show Teacher Details
                            </a>
                        </div>
                    </dd>
                    <dt class="col-sm-4">
                        Subject
                    </dt>
                    <dd class="col-sm-8">
                        @Model.SubjectDetails.Name
                    </dd>
                    <dt class="col-sm-4">
                        Subject Description
                    </dt>
                    <dd class="col-sm-8">
                        @Model.SubjectDetails.Description
                    </dd>
                    <dt class="col-sm-4">
                        Start/End Time
                    </dt>
                    <dd class="col-sm-8">
                        @( $"{Model.StartTime.ToString(@"hh\:mm")} - {Model.EndTime.ToString(@"hh\:mm")}" )
                    </dd>
                </dl>
            </div>
            <div class="card-footer text-muted">
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>

    </div>
</div>
