@model IEnumerable<ProjetFinEtude.Models.Quiz>

@{
    ViewData["Title"] = "All Exams";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}
<h2>All Exams</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-wrap justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a asp-action="Create" asp-controller="Quizs" class="btn btn-primary">Add New</a>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th scope="col">   Name  </th>
                                <th scope="col">   Mark  </th>
                                <th scope="col">   Date  </th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th scope="col">   Name  </th>
                                <th scope="col">   Mark  </th>
                                <th scope="col">   Date  </th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Mark</td>
                                    <td>@item.Date</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">View</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



