@using Microsoft.AspNetCore.Identity
@using ProjetFinEtude.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*

*@
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {


        <li class="nav-item">
            @if (User.IsInRole(Roles.Admin.ToString()))
            {
                <a class="nav-link text-dark"
                   asp-action="Index"
                   asp-controller="Admin"
                   title="Manage">Hello @User.Identity.Name!</a>
            }
            else if (User.IsInRole(Roles.Student.ToString()))
            {
                <a class="nav-link text-dark"
                   asp-action="Home"
                   asp-controller="Students"
                   title="Manage">Hello @User.Identity.Name!</a>
            }
            else if (User.IsInRole(Roles.Teacher.ToString()))
            {
                <a class="nav-link text-dark"
                   asp-action="Home"
                   asp-controller="Teachers"
                   title="Manage">Hello @User.Identity.Name!</a>
            }
            else if (User.IsInRole(Roles.Parent.ToString()))
            {
                <a class="nav-link text-dark"
                   asp-action="Home"
                   asp-controller="Parents"
                   title="Manage">Hello @User.Identity.Name!</a>
            }
            else
            {
                <a class="nav-link text-dark"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index"
                   title="Manage">Hello @User.Identity.Name!</a>
            }
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="/Identity/Account/Login">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item d-none">
            <a class="nav-link text-dark"
               asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
